body {
    margin: 0;
    display: flex;
    background-color: rgba(233, 237, 240, 0.274);
}
#image > img {
    width: 35vw;
    height: 100vh;
    position: relative;
}
#inside-img > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    background-color: rgba(0, 0, 0, 0.438);
    margin-bottom: 52vh;
}
#inside-img > div > img {
    height: 90px;
    width: 80px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}
#inside-img > div > p {
    font-size: 50px;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#inside-img {
    position: absolute;
    color: white;
    top: 30%;
}
#inside-img > p {
    text-align: center;
}
#text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#text {
    line-height: 20px;
    font-size: large;
    font-weight: bolder;
    width: 500px;
    padding: 0 25px;
}
form{
    box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.089);
    background-color: white;
    width: 100%;
    padding: 20px 20px 30px 10px;
}
fieldset{
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 60px;
    padding: 0;
    margin: 0;
    padding: 0 20px;
}
legend {
    color: #312e2e;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}
form div {
    display: flex;
    flex-direction: column;
    width: 250px;
}
label {
    display: block;
    margin-top: 20px;
    font-size: smaller;
    font-weight: bolder;
}
input :valid {
    border: 2px solid rgb(77, 201, 77);
}
input :invalid {
    border: 2px solid rgb(204, 55, 55);
}
#text-container > button{
    background-color: rgba(44, 97, 44, 0.74);
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-size: larger; 
    margin: 20px 20px 30px 30px;
}
#text-container > button:hover {
    background-color: rgba(44, 97, 44, 0.9);
    cursor: pointer;
}
#text-container > p {
    margin: 0 30px;
    font-weight: bold;
}#text-container > p > a {
    color: rgba(44, 97, 44, 0.87);
    text-decoration: none;
}